.fullpage{
    padding: 40px;
}

.left{
    width: 30%;
    display: inline-block;
    min-width: 200px;
    padding:40px;
    padding-left: 100px;
}

.right{
    width: 40%;
    display: inline-block;
    min-width: 200px;
    padding: 40px;
    padding-top: 10px;
}

h1{
    color: #279CEF;
    font-family: roboto;
    font-size: 10rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    font-family: roboto;
    font-size: 40px;
    margin-top: 0px;
}

.image{
    width: 80%;
    min-width: 400px;
    padding-top: 60px;
}

.button{
    font-family: roboto;
    font-weight: 500;
    border-radius: 50px;
    border-color:#279CEF;
    border-width: 3px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    background-color: white;
    color: #279CEF;
}

.button:hover{
    background-color: #279CEF;
    color:white;
}