@media(min-width: 900px){
.fullpage{
    display:inline-flex;
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 30%;
    display: inline-block;
    min-width: 350px;
}

.right{
    width: 50%;
    display: inline-block;
    min-width: 200px;
}
}

@media(max-width: 900px){
    .fullpage{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
}
    
h1{
    color: #279CEF;
    font-family: roboto;
    font-size: 10rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    font-family: roboto;
    font-size: 40px;
    margin-top: 0px;
}

.image{
    width: 80%;
    min-width: 400px;
}

.button{
    font-family: roboto;
    font-weight: 500;
    border: solid 3px #279CEF;
    border-radius: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    background-color: white;
    color: #279CEF;
}

.button:hover{
    background-color: #279CEF;
    color:white;
}